<%= form_with model: @message do |f| %>
    <%= f.text_field :message %>
    <%= f.hidden_field :room_id %>
    <%= f.submit %>
<% end %>

<table>
    <thead>
        <tr>
            <td>投稿者名</td>
            <td>投稿内容</td>
        </tr>
    </thead>
    <tbody>
        <% @messages.each do |message| %>
            <tr>
              <td><%= attachment_image_tag @user, :icon, :fill, 30, 30, fallback: "no_image.jpg" %></td>
                <td><%= message.user.nickname %><%= message.created_at.strftime("%Y-%m-%d %H:%M")%></td>
                <td><%= message.message %></td>
             <td></td>
            </tr>
        <% end %>
    </tbody>
</table>