<% if @model == "user" %>
  <% @users.each do |user| %>
    <%= link_to user_path(user.id) do %>
      <%= attachment_image_tag @user, :icon, :fill, 60, 60, fallback: "no_image.jpg" %>
      <%= user.nickname %>
      <%= user.introduction %>
    <% end %>
  <% end %>
<% elsif @model == "post"%>
  <% @posts.each do |post| %>
    <% if post.user == current_user %>
      <%= link_to '消去', post_path(post), method: :delete%>
    <% end %>
    <%= link_to post_path(post.id) do %>
      <div>
        <%= attachment_image_tag post.user, :icon, :fill, 60, 60, fallback: "no_image.jpg" %>
        <p>ユーザー名：<%= post.user.nickname %></p>
        <p>タイトル：<%= post.title %></p>
        <%= attachment_image_tag post, :image, :fill, 200, 200 %>
        <p>内容：<%= post.body %></p>
        <p><%= "#{post.post_comments.count} コメント" %></p>
      </div>
    <% end %>
  <% end %>
<% else %>
  <% @birds.each do |bird| %>
    <%= link_to bird_path(bird.id) do %>
      <div>
        <%= attachment_image_tag bird, :bird_icon, :fill, 60, 60, fallback: "no_image.jpg" %>
        <%= attachment_image_tag bird, :bird_back_image, :fill, 200, 200, fallback: "no_image.jpg" %>
        <p>種類：<%= bird.breed.name %></p>
        <p>年齢：<%= bird.bird_age %></p>
        <p>紹介分：<%= bird.bird_introduction %></p>
        <p>鳥の名前：<%= bird.bird_name %></p>
        <p><%= "#{bird.bird_comments.count} コメント" %></p>
      </div>
    <% end %>
  <% end %>
<% end %>