<% if @bird_list.present? %>
  <% @bird_list.each do |bird| %>
  <%= link_to bird_path(bird.id) do %>
  <div>
    <%= attachment_image_tag bird, :bird_icon, :fill, 60, 60, fallback: "no_image.jpg" %>
    <%= attachment_image_tag bird, :bird_back_image, :fill, 200, 200, fallback: "no_image.jpg" %>
    <p>種類：<%= bird.breed.name %></p>
    <p>年齢：<%= bird.bird_age %></p>
    <p>紹介分：<%= bird.bird_introduction %></p>
    <p>鳥の名前：<%= bird.bird_name %></p>
    <p><%= "#{bird.bird_comments.count} コメント" %></p>
  </div>
  <% end %>
  <% end %>
<% end %>
<% if @lost_list.present? %>
  <% @lost_list.each do |lost_bird| %>
  <%= link_to lost_bird_path(lost_bird.id) do %>
  <div>
    <%= attachment_image_tag lost_bird, :bird_image, :fill, 200, 200, fallback: "no_image.jpg" %>
    <p>種類：<%= lost_bird.breed.name %></p>
    <p>年齢：<%= lost_bird.lost_bird_age %></p>
    <p>鳥説明：<%= lost_bird.lost_bird_introduction %></p>
    <p>状況説明：<%= lost_bird.lost_introduction %></p>
    <p>場所：<%= lost_bird.lost_place %></p>
    <p>特徴：<%= lost_bird.feature %></p>
    <p>行方不明日：<%= lost_bird.lost_day %></p>
    <p>鳥の名前：<%= lost_bird.lost_bird_name %></p>
    <p><%= "#{lost_bird.lost_bird_comments.count} コメント" %></p>
  </div>
  <% end %>
  <% end %>
<% end %>
<% if @protection_list.present? %>
  <% @protection_list.each do |protection_bird| %>
  <%= link_to protection_bird_path(protection_bird.id) do %>
  <div>
    <%= attachment_image_tag protection_bird, :image, :fill, 200, 200, fallback: "no_image.jpg" %>
    <p>種類：<%= protection_bird.breed.name %></p>
    <p>鳥説明：<%= protection_bird.bird_introduction %></p>
    <p>状況説明：<%= protection_bird.protect_introduction %></p>
    <p>場所：<%= protection_bird.protect_place %></p>
    <p>特徴：<%= protection_bird.feature %></p>
    <p>保護日：<%= protection_bird.protect_day %></p>
    <p><%= "#{protection_bird.protection_bird_comments.count} コメント" %></p>
  </div>
  <% end %>
  <% end %>
<% end %>