<% if @bird_list.present? %>
<div class="col-md-10 mx-auto">
  <div class="card p-3">
    <h4>鳥のお気に入り</h4>
  </div>
</div>
  <% @bird_list.each do |bird| %>
  <div class="col-md-10 mx-auto">
  <div class="card shadow p-5">
      <div class="card-content">
        <p>
          <%= attachment_image_tag bird, :bird_icon, :fill, 60, 60 %>お名前：
          <%= link_to bird_path(bird.id) do %>
            <%= bird.bird_name %>
          <% end %>
        </p>
    <p>年齢：<%= bird.bird_age %>歳</p>
    <p>紹介分：<%= bird.bird_introduction %></p>
    <p><%= "#{bird.bird_comments.count} コメント" %></p>
  </div>
  </div>
  </div>
  <% end %>
 <% else %>
 <div class="col-md-10 mx-auto">
  <div class="card p-3">
    <h4>鳥のお気に入りはありません</h4>
  </div>
</div>
<% end %>
<% if @lost_list.present? %>
<div class="col-md-10 mx-auto">
  <div class="card p-3">
    <h4>気になる迷子</h4>
  </div>
</div>
  <% @lost_list.each do |lost_bird| %>
   <div class="col-md-10 mx-auto">
  <div class="card shadow p-5">
      <div class="card-content">
  <%= link_to lost_bird_path(lost_bird.id) do %>
    <p class="card-title pt-3"><%= lost_bird.title %></p>
  <% end %>
  <div>
    <%= attachment_image_tag lost_bird, :bird_image, :fill, 200, 200 %>
    <p>種類：<%= lost_bird.breed.name %></p>
    <p>地域：<%= lost_bird.prefecture_name %></p>
    <p>行方不明日：<%= lost_bird.lost_day %></p>
    <p>鳥の名前：<%= lost_bird.lost_bird_name %></p>
    <p><%= "#{lost_bird.lost_bird_comments.count} コメント" %></p>
  </div>
   </div>
  </div>
  </div>
  <% end %>
  <% else %>
  <div class="col-md-10 mx-auto">
  <div class="card p-3">
    <h4>気になる迷子はありません</h4>
  </div>
</div>
<% end %>
<% if @protection_list.present? %>
<div class="col-md-10 mx-auto">
  <div class="card p-3">
    <h4>気になる保護鳥</h4>
  </div>
</div>
  <% @protection_list.each do |protection_bird| %>
   <div class="col-md-10 mx-auto">
  <div class="card shadow p-5">
      <div class="card-content">
  <%= link_to protection_bird_path(protection_bird.id) do %>
  <p  class="card-title pt-3"><%= protection_bird.title %></p>
  <% end %>
  <div>
    <%= attachment_image_tag protection_bird, :image, :fill, 200, 200 %>
    <p>種類：<%= protection_bird.breed.name %></p>
    <p>地域：<%= protection_bird.prefecture_name %></p>
    <p>保護日：<%= protection_bird.protect_day %></p>
    <p><%= "#{protection_bird.protection_bird_comments.count} コメント" %></p>
  </div>
   </div>
  </div>
  </div>
  <% end %>
  <% else %>
  <div class="col-md-10 mx-auto">
  <div class="card p-3">
    <h4>気になる保護鳥はありません</h4>
  </div>
</div>
<% end %>