<div class="row">
  <div class="col-md-10 mx-auto">
<h2>ユーザー編集</h2>
<%= form_with model: @user, local:true do |f| %>
  <table class='table table-borderless table-sm'>
  <tbody>
       <tr>
      <th>
        <%= attachment_image_tag @user, :icon, :fill, 60, 60, fallback: "no_image.jpg"%>
        <label for="inputImage">アイコン</label>
      </th>
      <td>
        <div class="field">
          <%= f.attachment_field :icon %>
        </div>
      </td>
    </tr>
    <tr>
      <th>
        <h4>ユーザー名</h4>
      </th>
      <td>
        <div class="field">
          <%= f.text_field :nickname %>
        </div>
      </td>
    </tr>
    <tr>
      <th>
        <h4>紹介分</h4>
      </th>
      <td>
        <div class="field">
          <%= f.text_area :introduction %>
        </div>
      </td>
    </tr>
      <tr>
      <td></td>
        <th><%= f.submit '編集を保存',class: "btn btn-success"%></th>
      <td></td>
    </tr>
    </tbody>
  </table>
  <% end %>
          </div>
        </div>
