<p>アイコン:<%= attachment_image_tag @user, :icon, :fill, 60, 60, fallback: "no_image.jpg" %></p>
  <p>背景:<%= attachment_image_tag @user, :back_image, :fill, 60, 60, fallback: "no_image.jpg" %></p>
  <p>ユーザー名：<%= @user.nickname %></p>
  <p>説明：<%= @user.introduction %></p>
  <%= link_to "編集", edit_user_path(@user.id) %> 
  <%= link_to "鳥追加", new_bird_path %> 
  <%= link_to "鳥一覧", birds_path(current_user.id)  %> 
