<div class="col-md-10 mx-auto">
  <div class="card shadow p-5">
      <div class="card-content">
<p><%= attachment_image_tag @user, :icon, :fill, 60, 60 %><%= @user.nickname %></p>
  <p><%= @user.introduction %></p>
  <% if user_signed_in? %>
  <p>フォロー数:<%= @user.follower.count %>フォロワー数:<%= @user.followed.count %>
          <% unless @user == current_user %>
            <% if current_user.following?(@user) %>
              <%= link_to 'フォロー解除', unfollow_path(@user.id), method: :POST, class: "btn btn-danger shadow" %>
            <% else %>
              <%= link_to 'フォロー', follow_path(@user.id), method: :POST, class: "btn btn-success shadow" %>
            <% end %>
          <% end %>
          </p>

  <% if @user.id == current_user.id %>
    <%= link_to "プロフィール編集", edit_user_path(@user.id), class: "btn btn-success shadow" %>
  <% else %>
    <% if @isRoom == true %>
        <p><%= link_to 'DMへ', room_path(@roomId), class: "btn btn-success shadow" %></p>
    <% else %>
        <%= form_for @room do |f| %>
            <%= fields_for @entry do |e|%>
                <% e.hidden_field :user_id, value: @user.id %>
            <% end %>
        <%= f.submit "DMを開始する"%>
        <% end %>
    <% end %>
<% end %>
<% end %>
<p class="pt-3">飼っている子たち
<% if user_signed_in? %>
<% if @user.id == current_user.id %>
<%= link_to "追加", new_bird_path %>
 <% end %>
 <% end %>
</p>
<% @birds.each do |bird| %>
    <%= link_to bird_path(bird.id) do %>
    <div>
      <p><%= attachment_image_tag bird, :bird_icon, :fill, 60, 60 %>
      <% end %>
      鳥のお名前：<%= link_to bird_path(bird.id) do %><%= bird.bird_name %></p>
    </div>
   <% end %>
  <% end %>
  <%= paginate @birds, class: "justify-content-center" %>
</div>
</div>
</div>
<div class="col-md-10 mx-auto">
  <div class="card p-3">
    <h4>投稿一覧</h4>
  </div>
</div>
<% @user.posts.each do |post| %>
<div class="col-md-10 mx-auto">
  <div class="card shadow p-5">
      <div class="card-content">
  <% if post.user == current_user %>
  <%= link_to '消去', post_path(post), method: :delete, class: "btn btn-danger shadow"%>
  <% end %>
<%= link_to post_path(post.id) do %>
  <p>タイトル：<%= post.title %></p>
  <% end %>
  <%= attachment_image_tag post, :image, :fill, 200, 200 %>
  <p>内容：<%= post.body %></p>
 <p><%= "#{post.post_comments.count} コメント" %></p>
</div>
</div>
</div>
<% end %>








