<% if @protection_bird.checked_by?(current_user) %>
    <p>
      <%= link_to "気になる　解除", protection_bird_protection_checks_path(@protection_bird), method: :delete %>
    </p>
    <% else %>
    <p>
      <%= link_to "気になる", protection_bird_protection_checks_path(@protection_bird), method: :post %>
    </p>
  <% end %>
<div>
<div>
  <%= attachment_image_tag @protection_bird, :image, :fill, 200, 200, fallback: "no_image.jpg" %>
  <p>種類：<%= @protection_bird.breed.name %></p>
  <p>鳥説明：<%= @protection_bird.bird_introduction %></p>
  <p>状況説明：<%= @protection_bird.protect_introduction %></p>
  <p>場所：<%= @protection_bird.protect_place %></p>
  <p>特徴：<%= @protection_bird.feature %></p>
  <p>保護日：<%= @protection_bird.protect_day %></p>
</div>
<%= link_to "編集", edit_protection_bird_path(@protection_bird.id) %>

<div class="new-comment">
<%= form_with(model:[@protection_bird, @protection_bird_comment], local: true) do |f| %>
  <%= f.text_area :comment, rows:'5',placeholder: "コメントをここに" %>
  <%= f.submit "送信する" %>
<% end %>
</div>
<div class="comments">
<p>コメント件数：<%= @protection_bird.protection_bird_comments.count %></p>
<% @protection_bird.protection_bird_comments.each do |protection_bird_comment| %>
  <%= protection_bird_comment.user.nickname %>
  <%= protection_bird_comment.created_at.strftime('%Y/%m/%d') %><%= protection_bird_comment.comment %>
  <% if protection_bird_comment.user == current_user %>
  <div class="comment-delete">
    <%= link_to "削除", protection_bird_protection_bird_comment_path(protection_bird_comment.protection_bird, protection_bird_comment), method: :delete %>
  </div>
  <% end %>
<% end %>
</div>