<h1>里親編集</h1>
<%= form_with model: @adoption, local:true do |f| %>
  <h4>タイトル</h4>
  <%= f.text_field :title %>
  <h4>種類</h4>
  <%= f.collection_select :breed_id, Breed.all, :id, :name, {include_blank: "選択してください"} %>
  <h4>性格　特徴</h4>
  <%= f.text_field :introduction %>
  <h4>健康状態</h4>
  <%= f.text_field :health %>
  <h4>その他　注意など</h4>
  <%= f.text_field :other %>
  <h4>募集経緯</h4>
  <%= f.text_field :background %>
  <h4>画像</h4>
  <%= f.attachment_field :image %>
  <h4>年齢</h4>
  <%= f.text_field :age %>歳
  <h4>性別</h4>
    <%= f.label :オス  %>
    <%= f.radio_button :sex, :オス %>
    <%= f.label :メス  %>
    <%= f.radio_button :sex, :メス %>
    <%= f.label :不明  %>
    <%= f.radio_button :sex, :不明 %>
  <p>郵便番号</p>
  <%= f.text_field :postcode, id: "postcode" %>
  <p>都道府県</p>
  <%= f.collection_select :prefecture_code, JpPrefecture::Prefecture.all, :code, :name, { prompt: '選択してください' }, id: 'prefecture_code' %><br>
  <p>市区町村</p>
  <%= f.text_field :address_city, id: "address_city" %>
  <%= f.submit '編集' %>
<% end %>

