<div class="row"> 
  <div class="col-md-10 mx-auto">
<h2>里親情報編集</h2>
<%= form_with model: @adoption, local:true do |f| %>
<table class='table table-borderless table-sm'> 
 <tbody>
    <tr>
      <th>
        <h4>タイトル</h4>
      </th>
      <td>
        <div class="field">
          <%= f.text_field :title %>
        </div>
      </td>
    </tr>
    <tr>
      <th>
        <h4>種類</h4>
      </th>
      <td>
        <div class="field">
          <%= f.collection_select :breed_id, Breed.all, :id, :name, {include_blank: "選択してください"} %>
        </div>
      </td>
    </tr>
    <tr>
      <th>
        <h4>性格　特徴</h4>
      </th>
      <td>
        <div class="field">
          <%= f.text_area :introduction %>
        </div>
      </td>
    </tr>
    <tr>
      <th>
        <h4>健康状態</h4>
      </th>
      <td>
        <div class="field">
          <%= f.text_area :health %>
        </div>
      </td>
    </tr>
    <tr>
      <th>
        <h4>その他</h4>
      </th>
      <td>
        <div class="field">
          <%= f.text_area :other %>
        </div>
      </td>
    </tr>
    <tr>
      <th>
        <h4>募集経緯</h4>
      </th>
      <td>
        <div class="field">
          <%= f.text_area:background %>
        </div>
      </td>
    </tr>
    <tr>
      <th>
         <h4>画像</h4>
      </th>
      <td>
        <div class="field">
          <%= f.attachment_field :image %>
        </div>
      </td>
    </tr>
    <tr>
      <th>
        <h4>年齢</h4>
      </th>
      <td>
        <div class="field">
          <%= f.text_field :age %>歳
        </div>
      </td>
    </tr>
    <tr>
      <th>
        <h4>性別</h4>
      </th>
      <td>
        <div class="field">
          <%= f.label :オス  %>
          <%= f.radio_button :sex, :オス %>
          <%= f.label :メス  %>
          <%= f.radio_button :sex, :メス %>
          <%= f.label :不明  %>
          <%= f.radio_button :sex, :不明 %>
        </div>
      </td>
    </tr>
    <tr>
      <th>
        <h4>地域:都道府県</h4>
      </th>
      <td>
        <div class="field">
          <%= f.collection_select :prefecture_code, JpPrefecture::Prefecture.all, :code, :name, { prompt: '選択してください' }, id: 'prefecture_code' %>
        </div>
      </td>
    </tr>
    <tr>
      <th>
        <h4>地域:市区町村</h4>
      </th>
      <td>
        <div class="field">
          <%= f.text_field :address_city, id: "address_city" %>
        </div>
      </td>
    </tr>
    <tr>
      <td><%= link_to "削除", adoption_path(@adoption), method: :delete, class: "btn btn-danger shadow" %></td>
        <th><%= f.submit '編集を保存',class: "btn btn-success shadow"%></th>
      <td></td>
    </tr>
    </tbody>
  </table>
<% end %>
          </div>
        </div>