<div>
  <%= attachment_image_tag @lost_bird, :bird_image, :fill, 200, 200, fallback: "no_image.jpg" %>
  <p>種類：<%= @lost_bird.lost_bird_breed %></p>
  <p>年齢：<%= @lost_bird.lost_bird_age %></p>
  <p>鳥説明：<%= @lost_bird.lost_bird_introduction %></p>
  <p>状況説明：<%= @lost_bird.lost_introduction %></p>
  <p>場所：<%= @lost_bird.lost_place %></p>
  <p>特徴：<%= @lost_bird.feature %></p>
  <p>行方不明日：<%= @lost_bird.lost_day %></p>
  <p>鳥の名前：<%= @lost_bird.lost_bird_name %></p>
</div>
<%= link_to "編集", edit_lost_bird_path(@lost_bird.id) %> 

<div class="new-comment">
<%= form_with(model:[@lost_bird, @lost_bird_comment], local: true) do |f| %>
  <%= f.text_area :comment, rows:'5',placeholder: "コメントをここに" %>
  <%= f.submit "送信する" %>
<% end %>
</div>
<div class="comments">
<p>コメント件数：<%= @lost_bird.lost_bird_comments.count %></p>
<% @lost_bird.lost_bird_comments.each do |lost_bird_comment| %>
  <%= lost_bird_comment.user.nickname %>
  <%= lost_bird_comment.created_at.strftime('%Y/%m/%d') %><%= lost_bird_comment.comment %>
  <% if lost_bird_comment.user == current_user %>
  <div class="comment-delete">
    <%= link_to "削除", lost_bird_lost_bird_comment_path(lost_bird_comment.lost_bird, lost_bird_comment), method: :delete %>
  </div>
  <% end %>
<% end %>
</div>