<div class="row">
<%= render 'search', message:"不用品検索" %>
</div>
<div class="row">
<% @items.each do |item| %>
<div class="col md-3">

<div class="card h-100 shadow m-1", style="width: 15rem;">
  <div class="card-content px-3">
<%= link_to item_path(item.id) do %>
  <p class="card-title pt-3">タイトル：<%= item.item %></p>
  <% end %>
  <%= attachment_image_tag item, :image, :fill, 150, 150, fallback: "no_image.jpg" %>
  <p>ジャンル：<%= item.genre.name %></p>
  <p>取引場所：<%= item.prefecture_name %></p>
</div>
</div>
</div>

<% end %>
</div>
<p><%= paginate @items, class: "justify-content-center" %></p>
</div>