<% @birds.each do |bird| %>
<%= link_to bird_path(bird.id) do %>
<div>
  <%= attachment_image_tag bird, :bird_icon, :fill, 60, 60, fallback: "no_image.jpg" %>
  <%= attachment_image_tag bird, :bird_back_image, :fill, 200, 200, fallback: "no_image.jpg" %>
  <p>種類：<%= bird.breed %></p>
  <p>年齢：<%= bird.bird_age %></p>
  <p>紹介分：<%= bird.bird_introduction %></p>
  <p>鳥の名前：<%= bird.bird_name %></p>
  <p><%= "#{bird.bird_comments.count} コメント" %></p>
</div>
<% end %>
<% end %>