<div class="row">
  <div class="col-md-10 mx-auto">
<h2>愛鳥の情報</h2>
<%= form_with model: @bird, local:true do |f| %>
<table class='table table-borderless table-sm'>
 <tbody>
    <tr>
      <th>
        <h4>お名前</h4>
      </th>
      <td>
        <div class="field">
          <%= f.text_field :bird_name %>
        </div>
      </td>
    </tr>
    <tr>
      <th>
        <h4>種類</h4>
      </th>
      <td>
        <div class="field">
          <%= f.collection_select :breed_id, Breed.all, :id, :name, {include_blank: "選択してください"} %>
        </div>
      </td>
    </tr>
    <tr>
      <th>
        <h4>性別</h4>
      </th>
      <td>
        <div class="field">
          <%= f.label :オス  %>
          <%= f.radio_button :sex, :オス %>
          <%= f.label :メス  %>
          <%= f.radio_button :sex, :メス %>
          <%= f.label :不明  %>
          <%= f.radio_button :sex, :不明 %>
        </div>
      </td>
    </tr>
    <tr>
      <th>
        <h4>アイコン</h4>
      </th>
      <td>
        <div class="field">
          <%= f.attachment_field :bird_icon %>
        </div>
      </td>
    </tr>
        <tr>
      <th>
        <h4>背景画像</h4>
      </th>
      <td>
        <div class="field">
          <%= f.attachment_field :bird_back_image %>
        </div>
      </td>
    </tr>
    <tr>
      <th>
        <h4>年齢</h4>
      </th>
      <td>
        <div class="field">
          <%= f.text_field :bird_age %>歳
        </div>
      </td>
    </tr>
    <tr>
      <th>
        <h4>紹介分</h4>
      </th>
      <td>
        <div class="field">
          <%= f.text_area :bird_introduction %>
        </div>
      </td>
    </tr>
    <tr>
      <td></td>
        <th><%= f.submit '投稿',class: "btn btn-success"%></th>
      <td></td>
    </tr>
  </tbody>
</table>
<% end %>