<% if @bird.checked_by?(current_user) %>
    <p>
      <%= link_to "お気に入り解除", bird_bird_checks_path(@bird), method: :delete %>
    </p>
    <% else %>
    <p>
      <%= link_to "お気に入り", bird_bird_checks_path(@bird), method: :post %>
    </p>
  <% end %>
<div>
  <%= attachment_image_tag @bird, :bird_icon, :fill, 60, 60, fallback: "no_image.jpg" %>
  <%= attachment_image_tag @bird, :bird_back_image, :fill, 200, 200, fallback: "no_image.jpg" %>
  <p>種類：<%= @bird.breed %></p>
  <p>年齢：<%= @bird.bird_age %></p>
  <p>紹介分：<%= @bird.bird_introduction %></p>
  <p>鳥の名前：<%= @bird.bird_name %></p>
</div>
<%= link_to "編集", edit_bird_path(@bird.id) %> 
<div class="comments">
<p>コメント件数：<%= @bird.bird_comments.count %></p>
<% @bird.bird_comments.each do |bird_comment| %>
  <%= bird_comment.user.nickname %>
  <%= bird_comment.created_at.strftime('%Y/%m/%d') %><%= bird_comment.comment %>
  <% if bird_comment.user == current_user %>
  <div class="comment-delete">
    <%= link_to "削除", bird_bird_comment_path(bird_comment.bird, bird_comment), method: :delete %>
  </div>
  <% end %>
<% end %>
</div>
<div class="new-comment">
<%= form_with(model:[@bird, @bird_comment], local: true) do |f| %>
  <%= f.text_area :comment, rows:'5',placeholder: "コメントをここに" %>
  <%= f.submit "送信する" %>
<% end %>
</div>