<div class="nav">
      <div class="nav_item">
        <ul class="nav_list">
          <li><%= link_to 'home', home_path %></li>
          <li><%= link_to '一覧', posts_path %></li>
          <li><%= link_to 'メッセージ', "#" %></li>
          <li><a href="#">お気に入り</a></li>
          <li><%= link_to '通知', "#" %></li>
          <li><a href="#">迷子情報</a></li>
          <li><%= link_to '里親募集', adoptions_path %></li>
          <li><%= link_to '不用品', items_path %></li>
          <li><a href="#">設定</a></li>
          <% if user_signed_in? %>
            <li><%= link_to 'マイページ', user_path(current_user.id) %></li>
            <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to "新規登録", new_user_registration_path %></li>
            <li><%= link_to "ログイン", new_user_session_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
    </div>