<!DOCTYPE html>
<html>
  <head>
    <title>Birdwatch</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-2">
        <%= render 'layouts/left_side_bar' %>
        </div>
        <div class="col-8">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
